
@font-face {
  font-family: 'PlaywriteHR';
  src: url('PlaywriteHR-VariableFont_wght.ttf');
}

body {
  background-color: #070D4C;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: auto;
  min-width: auto;
  overflow: hidden;

}
.container{
  display: flex;
}

.up-circle{
  box-sizing: border-box;
  position: fixed;
  width: 2593.44px;
  height: 540.22px;
  left: -395px;
  top: -380px;
  border-radius: 350%;
  background: #283469;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-13.97deg);
  z-index: 1;
} 


.img{

  left: 395px;
  margin: 300px 0px 0px;
  position: absolute;
  z-index: 2;
  width: 210px;
  height: 225px;
}

/* ? */
h1{
position: absolute;
width: 50px;
height: 70px;
left: 779px;
top: 315px;
margin: 0px 100px 0px 280px;
font-family: 'Playwrite HR';
font-weight: 400;
font-size: 300px;
line-height: 64px;
letter-spacing: -0.25px;
color: #070D4C;
-webkit-text-stroke:10px #283469;
animation: movit 3s ease-in-out infinite;
}

.shape{
  left: 930px;
  top: 400px;
  position: absolute;
  z-index: 2;
  width: 410px;
  height: 225px;
}

@keyframes movit {
  10% ,90%{
    transform: rotate(4deg);
  }
  15%{
    transform: rotate(-4deg);
  }
}

.new-content {
  /* Styles for the new content */
  display: none; /* This is essential to hide the new content initially */
  border: 2px solid #00f;
  padding: 20px;
  background-color: #e0e0ff;
}